
node_modules
dist
.eslintcache
.pnpm-store/*
.git/*
pnpm-lock.yaml

src/autoImport
.eslintrc-auto-import.js
# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
pnpm-lock.yaml
