/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */

/* 自定义的变量 */
:root {
  /* el-plus 主要颜色 */
  --el-color-primary: #00b894;
  /* el-plus菜单选中时，背景颜色 */
  --el-menu-active-color: rgba(0, 184, 148, 0.1) !important;

  /** Body */
  --body-text-color: var(--el-text-color-primary);
  --body-bg-color: var(--el-bg-color-page);

  /* 地图工具栏距右侧距离 */
  --maptool-sidebar-right: calc(21.875vw + 40px);
  /* 地图工具栏距底部距离 */
  --maptool-sidebar-bottom: calc(305px + 40px);
  /* 系统管理默认字体 */
  --system-font-family: "黑体";
  /* 系统管理背景颜色 */
  --system-bg-color: #f3f3f3;
  /* 系统管理文字颜色 */
  --system-text-color: #eeeeee;
  /* 系统管理菜单栏背景颜色 */
  --system-menu-bg-color: #fff;
  /* 系统管理顶部高度 */
  --system-header-height: 64px;

  /** TagsView 组件 */
  --system-tagsview-tag-active-text-color: #ffffff;
  --system-tagsview-tag-bg-color: var(--el-bg-color);
  --system-tagsview-tag-active-bg-color: var(--el-color-primary);
  --system-tagsview-tag-active-border-color: var(--el-color-primary);
  --system-tagsview-tag-icon-hover-bg-color: #000000;
  --system-tagsview-tag-icon-hover-color: #ffffff;
}
/** 内容区放大时，将不需要的组件隐藏 */
body.content-large {
  --system-header-height: 0px;
}
